body {
    background-color: black;
    
}

#grafico {
    background-color: white;
    width: 500px;
    height: 680px;

    border-radius: 20px;

    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%,20%);
}

#valor02 {
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    text-align: center;

    background-color: red;
    height: 40px;
}

#valor03 {
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    text-align: center;

    background-color: green;
    height: 40px;
}

#valor04 {
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    text-align: center;

    background-color: blue;
    height: 40px;
}

#valor05 {
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    text-align: center;

    background-color: pink;
    height: 40px;
}

#valor06 {
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    text-align: center;

    background-color: tomato;
    height: 40px;
}

#valor07 {
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    text-align: center;

    background-color: purple;
    height: 40px;
}

#valor08 {
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    text-align: center;

    background-color: gray;
    height: 40px;
}

#valor09 {
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    text-align: center;

    background-color: orange;
    height: 40px;
}

#valor10 {
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    text-align: center;

    background-color: violet;
    height: 40px;
}

#valor11 {
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    text-align: center;

    background-color: black;
    height: 40px;
}

#valor12 {
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    text-align: center;

    background-color: yellowgreen;
    height: 40px;
}
